node_modules/
dist/
build/
.next/
next-env.d.ts
tsconfig.tsbuildinfo
.env
.env.local
*.log
coverage/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Salida de Playwright
test-results/
playwright-report/
.playwright/

# Salida de Storybook
storybook-static/
